* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.first_block {
    margin: 50px 0 0 0;
    display: flex;
    grid-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.dog_item img{
    width: 200px;
    height: 150px;

    border: 1px solid #000;
    border-radius: 20px;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}